header {
	display: flex;
	justify-content: flex-end;
}

nav {
	height: 2rem;
	padding: 2rem 1rem;
	display: flex;
	align-items: center;
}

nav a:not(:last-child) {
	display: inline-block;
	margin-right: 1rem;
}

.bx-wrapper {
	color: gray;
	font-size: 1.5rem;
}

.signbutton {
	padding:7px 10px;
  border-radius:3px;
  position:relative;
  bottom:7px;
  font-weight:bold;
  border:none;
	outline: none;
	color: #fff;
  background-color: #4885ed;
}

.signbutton:hover {
	background-color:  #4884edce;
}