* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: initial;
}

a:hover {
    text-decoration: underline;
}

.layout-section {
    padding: 1rem 0;
}

.nav-bar {
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
}

.nav {
    padding: 0rem 2rem;
}

.logo {
    width: 272px;
    height: auto;
}

.img-wrapper {
    padding-top: 5.5rem;
}

.centered {
    display: flex;
    justify-content: center;
}

.submit-button-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-left, .footer-right {
    padding: 0 2rem;
}



/* 
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 92px;
    width: 272px;
    position: relative;
    padding-top: 109px;
}

#logo {
    font-family: arial, sans-serif;
    font-size: 13px;
}

td {
    width: 25%;
    box-align: center;
}

#advsearch {
    width: 25%;
    box-align: left;
}

body{
    font-size: small;
    background: #fff;
}

.search-bar {
    margin: 0px; 
    padding: 5px 8px 0px 6px; 
    vertical-align: top; 
    color: rgb(0, 0, 0); 
    outline: none;
    height:32px;
    margin:4px 0;
}

@media screen {

} */