.logo {
    width: 272px;
    height: auto;
}

.img-wrapper {
    padding-top: 2.5rem;
}

.centered {
    display: flex;
    justify-content: center;
}

.bar {
    margin: 0 auto;
    margin-top: 1.5rem;
    width: 580px;
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid #dcdcdc;
    background-color: transparent;
}

.bar:hover, .bar:focus-within {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    /* outline: none; */
}

.searchicon {
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    left: 11px;
    top: 5px;
    fill: #9aa0a6;
}

.searchbar {
    height: 45px;
    border: none;
    width: 500px;
    font-size: 16px;
    padding-left: 1.2rem;
    outline: none;
}

.voice {
    height: 20px;
    position: relative;
    top: 5px;
    left: 18px;
}

.submit-buttons {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1rem;
}

input[type="submit"] {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    outline-color: rgba(65, 65, 252, 0.692);
    outline-width: 0.1cm;
}

input[type="submit"]:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}